mmw1440 = 'all and (max-width: 1440px)'
mmw1024 = 'all and (max-width: 1024px)'
mmw768 = 'all and (max-width: 768px)'
mmw425 = 'all and (max-width: 425px)'
mmw375 = 'all and (max-width: 375px)'
mmw320 = 'all and (max-width: 320px)'

mw1440 = 'all and (min-width: 1440px)'
mw1024 = 'all and (min-width: 1024px)'
mw768 = 'all and (min-width: 768px)'
mw425 = 'all and (min-width: 425px)'
mw375 = 'all and (min-width: 375px)'
mw320 = 'all and (min-width: 320px)'