@import 'colors'
	// font-family: 'Audiowide', cursive;
	// font-family: 'Mansalva', cursive;
	// font-family: 'Saira Extra Condensed', sans-serif;
	// font-family: 'Covered By Your Grace', cursive;

// index
body
figure
	font-size 18px
	font-family: Helvetica
	margin 0
	padding 0

h1
	font-family: 'Audiowide', cursive;
p
	color rgba(#000, .8)
// index

// header
header
	background-image url('../img/slide02.jpg')
	background-size cover
	background-position 70%
	background-repeat no-repeat
	background-origin margin
	font-family Helvetica
	min-height 700px
	width 100vw
	h1
		color azul
	h2
		font-size: 2.2em
		margin-bottom: 0
		margin-top 1.2em
	h6
		font-size: 1em
		margin-top .5em
		color rgba(#000, .5)
	h6:after
	h6:before
		content "''"

.header--info
	position absolute
	top 16%
	margin auto 5%
	max-width: 900px
	a
		color #fff
		text-decoration: none
		background rgba(azul, .6)
		padding .5em .8em
		border-radius 20px
	h1
		margin-top 2.2em
		img
			height 1em
.icofont-layers
	font-size: 5em
	color azul
// header

// intro
.intro
.intro--img
	margin auto 5%
	display: inline-block

.intro
	max-width 596px
	margin-top 2em

.intro--img
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content: center
	img
		max-width 300px
	.intro--img--box
		width 320px
		margin: 1em
		max-width auto
		text-align center
// intro

@import 'index_mediaQuery'