body,
figure {
  line-height: 1.3;
  font-size: 18px;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Audiowide', cursive;
}
p {
  color: rgba(0,0,0,0.8);
}
header {
  background-image: url("../img/slide02.webp");
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  background-origin: margin;
  font-family: Helvetica;
  min-height: 700px;
}
header h1 {
  color: #0ab1d3;
}
header h2 {
  font-size: 2.2em;
  margin-bottom: 0;
  margin-top: 1.2em;
}
header h6 {
  font-size: 1em;
  margin-top: 0.5em;
  color: rgba(0,0,0,0.5);
}
header h6:after,
header h6:before {
  content: "''";
}
.header--info {
  position: absolute;
  top: 16%;
  margin: auto 5%;
  max-width: 900px;
}
.header--info h1 {
  margin-top: 2.2em;
}
.header--info h1 img {
  height: 1em;
}
.header--info img {
  height: 100px;
}
.header--info #btn-header {
  color: #fff;
  background: rgba(8,135,161,0.6);
  border-radius: 20px;
  padding: 0.5em 0.8em;
  text-decoration: none;
}
.icofont-layers {
  font-size: 5em;
  color: #0ab1d3;
}
.box--one {
  flex-flow: wrap;
  margin: auto 5%;
  flex-grow: 1;
}
.box--one .box--one--intro {
  max-width: 562px;
}
.box--one .box--one--img {
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.box--one .box--one--img .box--one--imgs {
  margin-top: 2em;
  width: 33%;
}
.box--one .box--one--img .box--one--imgs p {
  padding: 0 2em;
  color: rgba(0,0,0,0.6);
}
.box--one .box--one--img .box--one--imgs img {
  width: 80%;
}
.price .prices h2 {
  margin-top: 3em;
  margin-right: 5%;
  text-align: right;
}
.price .prices .price--intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
  margin-bottom: 1em;
}
.prices--boxes {
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}
.prices--boxes a {
  text-decoration: none;
}
.prices--boxes h3 {
  color: #fff;
  margin: 1em auto;
}
.prices--boxes [class^="prices--box--"] {
  min-width: 280px;
  display: inline-flex;
  border-radius: 10px;
  align-items: center;
  margin-top: 5px;
}
.prices--boxes .prices--box--1 {
  background: #4dc3db;
}
.prices--boxes .prices--box--2 {
  background: #0887a1;
}
.prices--boxes .prices--box--3 {
  background: #044754;
}
.prices--boxes .prices--box--4 {
  background: #1d4b54;
}
.prices--boxes .prices--box--5 {
  background: #04252e;
}
.terminos {
  font-size: 0.8em;
}
.beneficios {
  background-image: url("../img/low-angle-photo-of-white-building-2763969.webp");
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 1em 5%;
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 4em;
}
.beneficios .beneficio {
  width: 30%;
  padding: 0.1em 0.5em;
  box-sizing: border-box;
  margin-bottom: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.beneficios .beneficio .beneficio--img {
  max-width: 25%;
  min-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cta {
  color: #fff;
  padding-bottom: 2em;
  background: #044754;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.cta .cta--box {
  margin-right: 5%;
  margin-left: 5%;
}
.cta .cta--box p {
  color: #fff;
}
.cta .blog-post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2em;
  justify-content: space-between;
}
.cta .blog-post .post- {
  display: flex;
  margin: 1em;
  color: #fff;
  text-decoration: none;
}
.cta .blog-post .post- p {
  color: inherit;
  font-size: 0.8em;
  margin-left: 1em;
}
.cta .blog-post .post- h3 {
  margin: 0.5em;
}
.cta .blog-post .post- img {
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}
.cta h2 {
  margin-top: 0;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
.form {
  margin-top: 2em;
}
.button {
  margin-top: 2em;
  background: #fff;
  color: #1d4b54;
}
input {
  border: 0;
}
label,
input {
  max-width: 280px;
  box-sizing: border-box;
  padding: 0.5em;
  display: block;
  border-radius: 5px;
}
.clear {
  margin-bottom: 2em;
}
#mc_embed_signup .mc-field-group {
  padding-bottom: 0 !important;
}
.footer-box {
  background-image: url("../img/footer.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  min-height: 1px;
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
}
.footer-box .information {
  justify-content: center;
  flex-grow: 1;
  align-content: space-around;
  margin: 1em;
  box-sizing: border-box;
  text-align: center;
}
.footer-box .information a {
  color: inherit;
  text-decoration: none;
}
.footer-box .information a:hover {
  color: #1d4b54;
}
.footer-box .information img {
  height: 40px;
}
.footer-box .information h3 {
  margin-top: 0.5em;
  font-size: 0.8em;
}
.redchainco {
  min-height: 2em;
  background: #262626;
  text-align: center;
}
.redchainco a {
  text-decoration: none;
}
.redchainco p {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.whatsapp--fix {
  --sizeWhatsApp: 50px;
  background: #006355;
  border-radius: 50%;
  padding: 1em;
  width: var(--sizeWhatsApp);
  height: var(--sizeWhatsApp);
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.whatsapp--fix img {
  width: var(--sizeWhatsApp);
}
.whatsapp--fix:hover {
  background: #005244;
}
@media all and (min-width: 2560px) {
  body {
    font-size: 1.3em;
  }
}
@media all and (max-width: 768px) {
  .cta {
    flex-direction: column;
  }
  .cta .blog-post .post- {
    flex-direction: column;
    border-bottom: 1px solid #fff;
    text-align: center;
  }
}
@media all and (max-width: 425px) {
  header h2 {
    font-size: 1.5em;
  }
  .beneficios {
    flex-direction: column;
  }
  .beneficios .beneficio {
    width: auto;
  }
  .box--one .box--one--img {
    flex-direction: column;
  }
  .box--one .box--one--img .box--one--imgs {
    width: 100%;
  }
}
