body,
figure {
  font-size: 18px;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Audiowide', cursive;
}
p {
  color: rgba(0,0,0,0.8);
}
header {
  background-image: url("../img/slide02.webp");
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  background-origin: margin;
  font-family: Helvetica;
  min-height: 700px;
  width: 100vw;
}
header h1 {
  color: #0ab1d3;
}
header h2 {
  font-size: 2.2em;
  margin-bottom: 0;
  margin-top: 1.2em;
}
header h6 {
  font-size: 1em;
  margin-top: 0.5em;
  color: rgba(0,0,0,0.5);
}
header h6:after,
header h6:before {
  content: "''";
}
.header--info {
  position: absolute;
  top: 16%;
  margin: auto 5%;
  max-width: 900px;
}
.header--info a {
  color: #fff;
  text-decoration: none;
  background: rgba(8,135,161,0.6);
  padding: 0.5em 0.8em;
  border-radius: 20px;
}
.header--info h1 {
  margin-top: 2.2em;
}
.header--info h1 img {
  height: 1em;
}
.icofont-layers {
  font-size: 5em;
  color: #0ab1d3;
}
.box--one {
  flex-flow: wrap;
  margin: auto 5%;
  flex-grow: 1;
}
.box--one .box--one--intro {
  max-width: 562px;
}
.box--one .box--one--img {
  flex-wrap: wrap;
  text-align: center;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.box--one .box--one--img .box--one--imgs {
  margin-top: 2em;
  width: 33%;
}
.box--one .box--one--img .box--one--imgs p {
  padding: 0 2em;
  color: rgba(0,0,0,0.6);
}
.box--one .box--one--img .box--one--imgs img {
  width: 80%;
}
.price .prices h2 {
  margin-top: 3em;
  margin-right: 5%;
  text-align: right;
}
.price .prices .price--intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.price .prices .price---description {
  background: #ff0;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: right;
  max-width: 768px;
}
.prices--boxes {
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
}
.prices--boxes h3 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0.5em;
  border-bottom: 2px solid;
}
.prices--boxes img {
  margin-top: 1em;
  height: 2em;
  margin-bottom: 0.5em;
}
.prices--boxes [class^="prices--box--"] {
  max-width: 280px;
  display: inline-block;
  border-radius: 10px;
}
.prices--boxes [class^="prices--box--"] .table {
  color: #fff;
}
.prices--boxes [class^="prices--box--"] a {
  color: inherit;
}
.prices--boxes .prices--box--1 {
  background: #4dc3db;
}
.prices--boxes .prices--box--2 {
  background: #0887a1;
}
.prices--boxes .prices--box--3 {
  background: #044754;
}
.prices--boxes .prices--box--4 {
  background: #1d4b54;
}
.prices--boxes .prices--box--5 {
  background: #04252e;
}
.beneficios {
  background-image: url("../img/low-angle-photo-of-white-building-2763969.webp");
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 1em 5%;
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 4em;
}
.beneficios .beneficio {
  width: 30%;
  padding: 0.1em 0.5em;
  box-sizing: border-box;
  margin-bottom: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.beneficios .beneficio .beneficio--img {
  max-width: 30%;
  min-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cta {
  color: #fff;
  padding-bottom: 2em;
  background: #044754;
}
.cta .cta--box {
  margin-right: 5%;
  margin-left: 5%;
}
.cta .cta--box p {
  color: #fff;
}
.cta h2 {
  margin-top: 0;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
.form {
  margin-top: 2em;
}
.button {
  margin-top: 2em;
  background: #fff;
  color: #1d4b54;
}
input {
  border: 0;
}
label,
input {
  min-width: 280px;
  box-sizing: border-box;
  padding: 0.5em;
  display: block;
  border-radius: 5px;
}
.clear {
  margin-bottom: 2em;
}
.footer-box {
  background-image: url("../img/footer.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  min-height: 1px;
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
}
.footer-box .information {
  justify-content: center;
  flex-grow: 1;
  align-content: space-around;
  margin: 1em;
  box-sizing: border-box;
  text-align: center;
}
.footer-box .information a {
  color: inherit;
  text-decoration: none;
}
.footer-box .information a:hover {
  color: #1d4b54;
}
.footer-box .information img {
  height: 40px;
}
.footer-box .information h3 {
  margin-top: 0.5em;
  font-size: 0.8em;
}
.dark {
  min-height: 2em;
  background: #262626;
  text-align: center;
}
.dark p {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
@media all and (min-width: 2560px) {
  body {
    font-size: 1.3em;
  }
}
@media all and (max-width: 425px) {
  header h2 {
    font-size: 1.5em;
  }
  .beneficios {
    flex-direction: column;
  }
  .beneficios .beneficio {
    width: auto;
  }
  .box--one .box--one--img {
    flex-direction: column;
  }
  .box--one .box--one--img .box--one--imgs {
    width: 100%;
  }
}
