@import 'index_variables'

@media mmw425
    header
        h2
            font-size: 1.5em
    .beneficios
        flex-direction: column
        .beneficio
            width auto


@media mmw375
    .box--one
        .box--one--img
            flex-direction column
            .box--one--imgs
                width 100%
