@import 'index_variables'

@media mw2560
    body
        font-size 1.3em
        
@media mmw768
    .cta
        flex-direction: column
    .cta .blog-post .post-
        flex-direction: column;
        border-bottom: 1px solid white;
        text-align: center;

@media mmw425
    header
        h2
            font-size: 1.5em
    .beneficios
        flex-direction: column
        .beneficio
            width auto
    .box--one
        .box--one--img
            flex-direction column
            .box--one--imgs
                width 100%